body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3rem;

    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;

    animation: moveInRight 1s ease-out;
  }
}